{% extends 'base.html' %}

{% block content %}
<title>DRX-pó</title>


<main role="main" class="container">
  <div class="starter-template">
    <h1 align="center">Difratograma de Raios X de Pó</h1>
    <p class="lead">Carregue o documento .txt enviado por e-mail.<br></p>
  </div>
  
  <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="search">
          <br><br>
          <div class="file-path-wrapper">

          </div>

      <button type="submit" class="btn btn-primary">Plotar gráfico</button>
  </form>

</main>


{% endblock %}
