{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js | safe}}></script>
<h1 style="text-align: center">Ajuste de pico</h1>

{% endblock %}

{% block body %}

<form action="/" method="POST" enctype="multipart/form-data">
    <div class="buttonHolder">
        <input type="file" name="file" id="search"><br/><br/>
        <input value="Plot" type="submit" id="btn_s">
    </div>
</form>
<hr>
{{script | safe}}
{{div | safe}}


{% endblock %}
