{% extends 'base.html' %}
{% block head %}

    <link href="http://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
<h1 style="text-align: center">Ajuste de pico</h1>

{% endblock %}

{% block body %}

<form action="/" method="POST" enctype="multipart/form-data">
    <div class="buttonHolder">
        <input type="file" name="file" id="search"><br/><br/>
        <input value="Plot" type="submit" id="btn_s">
    </div>

</form>
<hr>

    <div>
        {{script | safe}}
        {{div0 | safe}}
        {{div1 | safe}}
    </div>

{% endblock %}
