{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center">Ajuste de pico</h1>

{% endblock %}

{% block body %}

<form action="/" method="POST" enctype="multipart/form-data">
    <div class="buttonHolder">
        <input type="file" name="file" id="search"><br/><br/>
        <input value="Plot" type="submit" id="btn_s">
    </div>
</form>
<hr>
        <div>
            <embed type="text/html" src="dif.html" width="100%" height="3000">

        </div>
<!--    <div>-->
<!--        <iframe src="file:///tmp/dif.html"-->
<!--            sandbox="allow-same-origin allow-scripts"-->
<!--            width="100%"-->
<!--            height="500"-->
<!--            scrolling="no"-->

<!--            frameborder="0">-->
<!--        </iframe>-->
<!--    </div>-->
{% endblock %}
