<!
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>

  <title>Teste</title>

</head>
<body>
        {{ div1|safe }}
        {{ div2|safe }}
        {{ div3|safe }}
        {{ script|safe }}
</body>
</html>