{% extends 'base.html' %}

{% block content %}

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>

<!--    <div style="position: absolute; top: 80px; right: 10%;">-->
<!--        <section style="background: white; border-radius: 10px; padding: 15px; width: 400px; margin: auto;-->
<!--        box-shadow: 5px 5px 10px rgba(77, 51, 51, 0.521); ">-->
<!--             Ponto A: <input type="number" name="ponto_a" id="ponto_a" min="0" max="200"><br><br>-->
<!--             Ponto B: <input type="number" name="ponto_b" id="ponto_b" min="0" max="200"><br>-->

<!--        </section>-->
<!--        <form action="/" method="POST" enctype="multipart/form-data">-->

<!--            <br><button type="submit" class="btn btn-primary" style="background-color: #C11B17; width: 200px" >FIT</button>-->
<!--        </form>-->
    

    <div>


        amplitude: {{ amp | safe }}<br>
        média: {{ media | safe }}<br>
        sigma: {{ sigma | safe }}<br>
        alpha: {{ alpha | safe }}<br>
        offset: {{ offset | safe }}<br>
    </div>



    <div style="position: relative">

        <img src="{{url_for('static', filename=value)}}" width = "500">

    </div>


<!--        {{ script | safe }}-->





{% endblock %}
