<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>site 3 XRD</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
    <header>
        <h1>Imagem carregada</h1>
    </header>
    <section>
        <img src="{{url_for('static', filename=value)}}" width = "500">

     <div id="res"></div>
    </section>
    <footer>
        <p>&copy; Filomeno</p>
    </footer>
</body>
</html>