<!DOCTYPE html>
<html lang="en">
<head>
    <meta chatset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" href="http://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.css"/>-->
<!--    <link rel="stylesheet" type="text/css" href="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.css"/>-->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"></script>

    <title>site 3 bokeh</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
</head>
<body>
    <header>
        <h1>Imagem carregada - bokeh</h1>
    </header>


            {{ script|safe}}
        <div style="margin: 0; text-align: center">
            {{ div|safe }}
        </div>




    <footer>
        <p>&copy; Filomeno</p>
    </footer>
</body>
</html>